
*{
	padding: 0;
	margin:0;
}
body{
	background-image: url(../img/memphis-colorful.png);
	font-family: 'Roboto', sans-serif;
}
.navbar--navbar-principal{
	background-color: red;
}
h1 img{
	width: 190px;
}
.banners{
	margin-top:5.5em;
}
.carousel-item--img{
	width: 100%;
	background-color: green;
	height: 170px;
	text-transform: uppercase;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-top:1.3em; 
	border-bottom: 5px solid #e11216;
}
.carousel-item--img .info{
	text-align: center;
	background-color: rgba(17, 117, 155, 0.6);
	margin:auto;
	padding: 12px;
	border-radius: 6px;
	color:#fefefe;
	width: 350px;
}
h2.carousel-item__title{
	font-size: 1.3em;
}

@media screen and (min-width: 570px){
	.carousel-item--img{
		height: 400px;
		padding-top:8em; 
	}

	h2.carousel-item__title{
		font-size:1.7em;
	}

	.carousel-item--img .info{
		width: 700px;
	}
}
.img-1{
	background-image: url(../img/esquiar.jpg);
}
.img-2{
	background-image: url(../img/jugando-charco.jpg);
}
.img-3{
	background-image: url(../img/hospital.jpg);
}

/*seccion quienes somos*/

section.quienes-somos{
	
	text-align: center;
	padding:2em 1.5em;
}
h2.quienes-somos__title{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500i;
	color:#007bff;
	padding: 0.5em ;
}

section.noticias{
	border-top:1px solid #999;
	padding:3em 0 5em 0; 
	
}
h2.noticias__title{
	font-family: 'Montserrat Alternates', sans-serif;
	padding-bottom:1em;
	font-weight: 500i;
	color:#007bff;
	text-align: center;
}

h5{
	font-family: 'Montserrat Alternates', sans-serif;
	color:#e1153e;
}


.borde-caj{
	border:1px solid #007bff;
	margin: 2em 0;
}
footer{
	margin-top: 1em;
	background-color:#e1153e;
	color:#fff;
}
.datos{
	width: 100%;
	padding: 30px;
	margin:5px;
	text-align: center;
}
.datos span i{
	font-size: 2em;
	width: 100%;
	padding-bottom: 5px;
	text-align: center;
}
a{
	text-decoration: none;
	color:#fff;
}
a::hover{
	text-decoration: none;
	color:#fff;
}
@media screen and (min-width: 570px){
	section.quienes-somos{
	padding:3em 1em;
    }
    .datos{
	width: 30%;
	text-align: center;
	}
	footer{
	text-align: center;
	padding: 1em ;
	}

	
}
}